body {
  /* background: #000; */
}

.nav-wrapper {
  background-color: #00897b;
}

.brand-logo {
  font-size: 20px;
}

.about-me, .skills, .resume, .projects {
  text-align: center;
  /* max-width: 800px; */
  margin-top: 80px;
}

.about-me {
  height: 400px;
}

.picture-summary {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.about-me-picture {
	/* max-width:15%; */
  width: 20%;
  height: 20%;
  /* margin: auto; */
  border-radius: 200px;
}

.about-me h3 {
  align-self: flex-start;
  align-content: center;
}

.about-me p {
  padding-left: 20px;
  width: 500px;
  /* margin: auto; */
  /* padding-top: 50px; */
}

.skills {
  padding: 10px 10em 10px 10em;
}

i {
  font-size: 100px;
  text-align: center;
}

#contact-me {
  background-color: #00897b;
}
