body {
  /* background: #000; */
}

.about-me, .skills, .resume, .projects {
  text-align: center;
  /* max-width: 800px; */
}

h1, h2 {
  /* color: #FF2734; */
  text-align: left;
}

.about-me-picture {
	max-width:15%;
	height:auto;
  border-radius: 200px;
}
